.frameChild {
  width: 134px;
  height: 138px;
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.vectorIcon {
  height: 3.8px;
  width: 3.8px;
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}
.vectorWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-8xl);
}
.frameItem,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 12px;
  left: 50px;
  width: 3.8px;
  height: 3.8px;
  z-index: 3;
}
.frameItem,
.vectorIcon2 {
  top: 30px;
  left: 0;
}
.frameItem {
  top: 0;
  left: 10.9px;
  width: 39.1px;
  height: 38px;
  z-index: 4;
}
.vectorGroup {
  align-self: stretch;
  height: 38px;
  position: relative;
  flex-shrink: 0;
}
.frameParent,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-3xs-2);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-25xl) 0 var(--padding-17xl);
}
.frameInner,
.whatIsDpl {
  position: relative;
  z-index: 3;
}
.frameInner {
  align-self: stretch;
  height: 1px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.whatIsDpl {
  flex: 1;
  display: inline-block;
  min-width: 80px;
}
.frameGroup,
.vectorParent,
.whatIsDplWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
}
.whatIsDplWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl) 0 var(--padding-5xl);
}
.frameGroup,
.vectorParent {
  flex-direction: column;
}
.frameGroup {
  align-self: stretch;
  gap: var(--gap-2xs);
}
.vectorParent {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  padding: var(--padding-2xl) 0 var(--padding-base);
  gap: var(--gap-5xl);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-xs-5);
  color: var(--color-lightsteelblue-100);
  font-family: var(--font-dm-sans);
}
