.rectangleParent {
    align-self: stretch;
    border-radius: var(--br-10xs);
    background-color: var(--color-ghostwhite-100);
    flex-direction: row;
    padding: var(--padding-10xs) var(--padding-7xs) var(--padding-11xs);
    gap: var(--gap-11xs-4);
    z-index: 2;
  }
  
  .frameDiv,
  .frameWrapper,
  .rectangleParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .frameChild {
    width: 132px;
    height: 145px;
    position: relative;
    border-radius: var(--br-8xs);
    display: none;
  }

  .frameParent {
    /* flex: 1; */
    flex-direction: column;
    gap: var(--gap-base);
  }

  .frameGroup,
.frameParent,
.mixedSequence {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.frameItem {
    height: 26px;
    width: 27.5px;
    position: relative;
    z-index: 2;
  }

  .frameDiv,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}

.rectangleGroup {
    border-radius: var(--br-10xs);
    background-color: var(--color-lightsteelblue-100);
    flex-direction: row;
    padding: var(--padding-11xs) var(--padding-lgi) var(--padding-8xs);
    z-index: 2;
  }
  
  .frameWrapper3,
  .rectangleGroup,
  .vectorParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .frameInner {
    height: 16px;
    width: 66px;
    position: relative;
    border-radius: var(--br-10xs);
    background-color: var(--color-ghostwhite-100);
    display: none;
  }

  .whatIsDpl {
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    left: 30%;
    display: inline-block;
  }

  .frameContainer,
.frameParent1,
.frameWrapper2,
.whatIsDplFrame {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frameContainer,
.frameWrapper2 {
  align-self: stretch;
}

.groupIcon {
    height: 45px;
    width: 51.7px;
    position: absolute;
    margin: 0 !important;
    top: 15px;
    left: -13px;
    object-fit: contain;
    z-index: 1;
  }

  .frameGroup {
    align-self: stretch;
    flex-direction: row;
    gap: 20px;
  
  }
  
  .frameGroup,
  .frameParent,
  .mixedSequence {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .whatIsDplWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
    text-align: center;
  }

  .whatIsDpl1 {
    font-size: 10px;
    margin: 0 auto;
    flex: 1;
    position: relative;
    line-height: 11px;
    font-weight: 500;
    z-index: 2;
  }

  .whatIsDpl2,
.whatIsDpl3 {
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  font-weight: 500;
  /* display: inline-block; */
  z-index: 2;
}

.whatIsDpl2 {
  font-size: 12px;
  /* font-size: var(--font-size-3xs); */
  color: var(--color-black);
  min-width: 99px;
}

.whatIsDplContainer {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 42px;
    z-index: 1;
  }

  .whatIsDpl2,
.whatIsDpl3 {
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  font-weight: 500;
  /* display: inline-block; */
  z-index: 2;
}

.whatIsDpl3 {

    min-width: 97px;
  }

  .frameDiv,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frameDiv {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xs-5);
  }

  .rectangleContainer {
    height: 467px;
    width: 6px;
    position: relative;
    z-index: 1;
  }

  .rectangleDiv {
    height: 16px;
    width: 58px;
    position: relative;
    border-radius: var(--br-10xs);
    background-color: var(--color-mediumseagreen);
    display: none;
  }