.whatIsDpl {
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  left: 30%;
  display: inline-block;
}
.colorOverlayIcon {
  position: absolute;
  height: 58.82%;
  width: 12.5%;
  top: 28.24%;
  right: 87.5%;
  bottom: 12.94%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.whatIsDplParent {
  width: 40px;
  height: 8.5px;
  position: relative;
  display: none;
  color: var(--color-lightsteelblue-200);
}
.iReportIssuePageChild {
  align-self: stretch;
  height: 511px;
  position: relative;
  background-color: var(--color-ghostwhite-200);
  display: none;
}
.logoIcon {
  width: 13px;
  height: 12px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.logoIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0 0;
}
.whatIsDpl1 {
  text-decoration: none;
  height: 11px;
  position: relative;
  line-height: 16px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 58px;
  z-index: 1;
}
.whatIsDplWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl) 0 0;
}
.fullLogo1,
.groupIcon {
  position: relative;
  z-index: 1;
}
.groupIcon {
  height: 28.6px;
  width: 29px;
}
.fullLogo1 {
  align-self: stretch;
  height: 26px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.fullLogo1Wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0 0;
}
.fullLogo1Wrapper,
.logoContainer,
.logoWrapper {
  display: flex;
  align-items: flex-start;
}
.logoWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-7xs-7);
}
.logoContainer {
  height: 30px;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  min-width: 134px;
}
.frameChild {
  width: 86px;
  height: 30px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  display: none;
}
.whatIsDpl2,
.whatIsDpl3 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.whatIsDpl3 {
  min-width: 67px;
}
.rectangleParent {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-11xs);
  z-index: 1;
  font-size: var(--font-size-5xs);
  color: var(--color-lightsteelblue-100);
}
.iReportIssuePageInner,
.logoContainerParent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.logoContainerParent {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  gap: var(--gap-23xl);
}
.iReportIssuePageInner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 12.3px var(--padding-2xl);
  font-size: var(--font-size-smi-5);
}
.frameItem {
  flex: 1;
  position: relative;
  border-radius: var(--br-10xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 18.3px;
  box-sizing: border-box;
  max-width: 100%;
}
.frameInner {
  height: 27px;
  width: 400px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.colorOverlayIcon1 {
  width: 5px;
  height: 7.6px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.colorOverlayWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 0;
}
.whatIsDpl4 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 28px;
  z-index: 2;
}
.rectangleGroup {
  /* margin-right: -52px; */
  min-width: 426px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  max-width: 141%;
  flex-shrink: 0;
  z-index: 1;
}
.groupIcon1 {
  height: 42.3px;
  width: 53.4px;
  position: relative;
  z-index: 1;
}
.groupWrapper {
  width: 241.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameGroup,
.frameParent,
.iReportIssuePageInner1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  flex-direction: column;
  align-items: flex-start;
  margin:30px;
}
.frameParent,
.iReportIssuePageInner1 {
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-2xs-5);
  color: var(--color-mediumslateblue);
  font-family: var(--font-dm-sans);
}
.iReportIssuePageInner1 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 18.4px;
}
.groupChild {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
}
.groupChild,
.rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.groupDiv {
  width: 400px;
  height: 27px;
  position: relative;
  display: none;
  max-width: 100%;
}
.colorOverlayIcon2 {
  position: absolute;
  height: 58.46%;
  width: 12.5%;
  top: 86.15%;
  right: 75.25%;
  bottom: -44.62%;
  left: 12.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.whatIsDplGroup {
  width: 40px;
  height: 13px;
  position: relative;
  display: none;
  font-size: var(--font-size-2xs-5);
}
.footerIcon {
  width: 41px;
  height: 41.7px;
  position: relative;
  z-index: 1;
}
.footerElements {
  height: 19.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.whatIsDpl6 {
  position: relative;
  z-index: 1;
}
.whatIsDplContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.2px var(--padding-5xs) 0 0;
}
.fullLogo2,
.groupIcon2 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.fullLogo2 {
  height: 24px;
  width: 79px;
  object-fit: cover;
}
.groupIcon2 {
  width: 31.9px;
  height: 40.7px;
}
.groupContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.contentFooter,
.footerContent,
.footerLogo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footerLogo {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.contentFooter,
.footerContent {
  box-sizing: border-box;
  max-width: 100%;
}
.footerContent {
  height: 56.9px;
  justify-content: flex-start;
  padding: 0 0 37.1px;
  gap: var(--gap-12xs);
}
.contentFooter {
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) 0 var(--padding-3xl);
  font-size: var(--font-size-3xs);
}
.iReportIssuePage {
  max-width: 425px;
  position: relative;
  background-image: url(/_next/static/media/backgroundimage.53252e1b.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-ghostwhite-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7.7px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-mediumslateblue);
  font-family: var(--font-dm-sans);
}

@media screen and (max-width: 376px) {
  .rectangleGroup {
    min-width: 386px;
  }
 }

 @media screen and (max-width: 321px) {
  .rectangleGroup {
    min-width: 336px;
  }
 }
